:root {
  --right-pane-size: 125px;
  --left-pane-size: 50px;
  --top-pane-size: 50px;

  --bg: rgb(225, 230, 235);
}

* {
  user-select: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#top-pane {
  display: flex;
  align-items: center;
  gap: 5px;

  height: 75px;
  background-color: var(--bg);
}

#left-pane {
  position: absolute;
  top: 75px;
  left: 0;
  width: 75px;
  height: calc(100vh - 75px);
  background-color: var(--bg);
}

#right-pane {
  position: absolute;
  right: 0;
  top: 75px;
  width: 150px;
  height: calc(100vh - 75px);
  background-color: var(--bg);
  float: right;
}

#font-size {
  width: 50px;
}

.tool {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  outline: 1px solid black;
  padding: 3px;
}

.active {
  box-shadow: 0 0 5px black;
}
